@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title HERE"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">My Website</a>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Accommodation" asp-action="Accommodation">Accommodation</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Boating" asp-action="Boating">Boating</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Boating" asp-action="Boating">Boating</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Marketing" asp-action="Marketing">Marketing</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Destination" asp-action="Destination">Destination</a></li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Login" style="display: flex; align-items: center;">
                            <img src="~/Assets/Landing/Icon/loginIcon.svg" alt="Login" class="nav-icon" />
                        </a>
                    </li>
            </div>
        </nav>
    </header>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</body>
</html>
