@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  
    <main class="content-wrapper">
        <h1 class="centered-heading">DIRECT MARKETING</h1>
        <img src="~/Assets/Destination/SubPages/Lines/greenLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                Direct marketing is a powerful tool that allows you to connect with your target audience in a personalized and impactful way. We offer a range of direct marketing services tailored to your business needs.
                <br><br>
                Our Direct Advertising solutions ensure that your brand reaches your audience through carefully chosen channels, maximizing visibility and engagement. 
                <br><br>
                Whether it's through Broadcasting to a wide audience or honing in with Email Marketing for a more targeted approach, our strategies are designed to drive results and build lasting customer relationships. 
                <br><br>
                Partner with us to take your marketing efforts to the next level with direct, effective communication that gets your message heard.
            </p>
        </div>
        <img src="~/Assets/Marketing/SubPages/directMarketing.jpg" alt="Second Description" class="image-below-text">
    </main>


    <script src="~/js/site.js"></script>


</body>
</html>