@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">SOCIAL MEDIA</h1>
        <img src="~/Assets/Destination/SubPages/Lines/orangeLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                Social media marketing is essential for building brand awareness and driving meaningful engagement with your audience.
                <br><br>
                We offer comprehensive social media services across top platforms like Facebook, Instagram, TikTok, Twitter, LinkedIn, Pinterest, YouTube, and WhatsApp, ensuring your brand's message reaches the right people at the right time.
                <br>
                By leveraging these platforms, you can effectively promote products, retarget customers, and significantly increase web traffic.
                <br><br>
                Our strategies are designed to deliver a higher conversion rate while maintaining customer satisfaction. With Google AdWords integrated into your social media campaigns, we ensure a cost-effective approach that maximizes your return on investment.
                <br>
                Whether you're looking to build a loyal customer base or expand your reach, our social media marketing services will help you achieve your goals and elevate your brand's presence online.
            </p>
        </div>
        <img src="~/Assets/Marketing/SubPages/socialMedia.jpg" alt="Second Description" class="image-below-text">
    </main>
  
    <script src="~/js/site.js"></script>


</body>
</html>