@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  
    <main class="content-wrapper">
        <h1 class="centered-heading">BITES BEACH CAF&Eacute;</h1>
        <img src="~/Assets/Destination/Subpages/Lines/blueLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                Enjoy the beautiful views of the Atlantic Ocean while having a bite at the well-known Bites Beach Café.
                <br>
                Delight in watching the Southern Right whales from Bites Beach Café, one of the highest congregations along the Western Cape coastline, making the time between July to November truly special.
                <br>
                <br>
                Reconnect with nature while being surrounded by the sound of crashing waves, walking barefoot on the sand, or exploring the fynbos.
                <br>
                Tick all three off your list when you visit <a href="@Url.Action("DeHoop", "Destination")" class="custom-link">De Hoop Nature Reserve</a>, making a stop for lunch at Bites Beach Café, of course.
                <br>
                <br>
                Watching the tides come in and the waves crash on the shore is a mesmerizing experience.
                Go for a walk on our pristine coastline and let nature envelop you in its serene beauty. Listen to the calls of the seabirds, feel the soft sand beneath your feet, and let the fresh ocean breeze rejuvenate your spirit.
                <br>
                <br>
                With indoor and outdoor seating, Bites Beach Café is a place where time stands still and the natural world unfolds in its most splendid form.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/Bites/bitesInside.jpg" alt="Second Description" class="image-below-text">
    </main>
</body>
</html>

<script src="~/js/site.js"></script>

<style >
.custom-link {
        color: #316080;
    text-decoration: none;
}

.custom-link:hover {
    color: lightgrey;
}

</style >

