@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
 
    <main class="content-wrapper">
        <h1 class="centered-heading">BOATHOUSE PIZZA AND PUB</h1>
        <img src="~/Assets/Destination/Subpages/Lines/orangeLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                The Boathouse Pub & Pizza was established years ago, and has since become popular amongst the Breede River locals, as well as those that visit the area regularly. Pizzeria and Pub is on the banks of the lower Breede river. Situated on the old Infanta road. 
                <br><br>
                This restaurant can be recommended for excellent pizza. The Boathouse Pub & Pizza has a 20-moor jetty (commercial) to allow patrons to stop and enjoy a cold one before heading back out onto the river for a fishing session or a peaceful meander on the water. Alternatively, there is road access and parking.
                <br><br>
                Sports enthusiasts love gathering together at the Boathouse to watch big games and catch up on the latest scores. This is a fantastic option for families with children who want to play on the lawn or catching fish from the jetties while moms and dads enjoy the game on the television.
                <br><br>
                There is a great view from The Boathouse Pizzas & Pub with good service. Sitting on the banks of the glorious Breede River, surrounded by the greenery of the Western Cape Province and the sound of the prolific bird life, one can scarcely remember the stresses and strains of city living.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/Boathouse/boathousePizza.jpg" alt="Second Description" class="image-below-text">

       
    </main>
   
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
            color: #316080;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

