@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">BUSH PUB</h1>
        <img src="~/Assets/Destination/Subpages/Lines/blueLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                It is well-known for its cocktails; not only for how delicious they are, but also for the sheer variety. 
                <br>
                The cocktail list includes the usual favourites with a little twist; like Bloody Mary, Margarita, Harvey Wallbanger, Long Island Iced, Mojito, Daiquiri, and so on. 
                <br>
                However, there are also plenty of other fabulous cocktails to tempt and entice. Try the Purple Haze, Breede Sunset, Love Potion No 9, or Breede Blixem. This pub prides itself in its use of premium brands and fresh ingredients to ensure the most deliciously refreshing cocktail.
                <br><br>
                The Bush Pub has a 10-moor jetty (commercial) to allow patrons to stop and enjoy a cold one before heading back out onto the river for a fishing session or a peaceful meander on the water. Alternatively, there is road access and parking.
                <br><br>
                There is a Putt Putt course here as well as darts, chess, and other games. The braai facilities and braai packs are perfect for those who want to enjoy the traditional South African way of eating meat. 
                <br>
                The children’s area was recently revamped so that little ones can have as much fun as their folks. Food is available in season.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/BushPub/bushpubRiver.jpg" alt="Second Description" class="image-below-text">


    </main>
  
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
            color: #316080;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

