@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">DE HOOP</h1>
        <img src="~/Assets/Destination/Subpages/Lines/blueLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                When visiting the beautiful <a href="https://www.capenature.co.za/reserves/de-hoop-nature-reserve/" class="custom-link">De Hoop Nature Reserve</a> spend some time exploring the De Hoop Vlei Trail which is 19km long and is an excellent example of a highly productive ecosystem.
                <br><br>
                It is also a Ramsar site of ecological importance and you may see a number of aquatic birds and other organisms breeding and feeding in this relatively undisturbed area. 
                <br>
                With more than 260 species of birds in the area you’ll need to bring a bird book and your binoculars.
                <br><br>
                This trail accommodates up to 12 adults at a time and you will need to have a reasonable fitness level and be steady on your feet as the path is sometimes uneven. 
                <br>
                You can enjoy this trail as a fully catered three night trail with two days spent walking at your own pace while learning plenty from the well-informed guide.
                <br>
                You can enjoy a shorter unguided route that is 15km walk with plenty of signs making it easy to stay on the path.  
                <br><br>
                The MTB Trail - This is an overnight trail that starts at the Potberg Environmental Centre at the De Hoop Nature Reserve. You will stay overnight at the Cupidoskraal Camp and all your belongings will be taken there for you from the starting point.
                Once at base there are a number of routed to choose from but you are likely only to be able to do one in a day. 
                <br>
                Expect dunes, rocky terrain, sandy climbs that are rather taxing on the thighs and exceptional views. This is definitely a route to take your camera on.
                <br>
                The trail is rated as intermediate, so if you are starting out, this may be a bit of a challenge. An entrance fee is payable at the reserve.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/DeHoop/deHoopBike.jpg" alt="Second Description" class="image-below-text">


    </main>
  
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
            color: #316080;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

