@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <main class="content-wrapper">
        <h1 class="centered-heading">GRUNTERS</h1>
        <img src="~/Assets/Destination/Subpages/Lines/orangeLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                In the heart of Malgas sits this homely restaurant, a beloved gathering spot for both locals and tourists. 
                <br>
                Priding itself on great fresh quality food, the restaurant offers a diverse menu that satisfies all palates. 
                <br>
                The welcoming atmosphere is enhanced by good music, a pool table, and a cozy venue perfect for live music concerts. 
                <br>
                Family-friendly and full of charm, it's the ideal place for families, friends, and travellers to meet, relax, and enjoy the vibrant community spirit.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/Grunters/gruntersSunset.jpg" alt="Second Description" class="image-below-text">


    </main>
  
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
            color: #316080;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

