@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">MALGAS FERRY</h1>
        <img src="~/Assets/Destination/Subpages/Lines/greenLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                The Malagas Ferry ferries you to and from the little bankside village of Malgas in the Overberg to Witsand. Malgas lies here because it used to serve as a trading port – you can navigate the Breede River some 50 km inland from its mouth, at Witsand and Infanta (on opposite sides of the mouth) to Malgas. 
                <br>
                Back then it was faster to send goods from Cape Town by ship than ox wagon, which means the Breede River played a very important role in distributing goods to the farms of the Overberg.
                <br><br>
                A steamer, called the Kadie, sailed from Cape Town right up the Breede River as far as Malgas, which acted as a port for the area.
                <br>
                The Ferry remains because once Malgas lost its importance as a port it was not deemed important enough to warrant the building of a bridge.
                <br>
                The Ferry is the only way across the Breede, by car, on the back roads between the N2 and Cape Infanta. 
                <br><br>
                To reach Malgas (sometimes referred to as Malgasy), take the turn-off from the N2 shortly after Swellendam at Buffeljagsrivier and follow signposts to Malagas. Open for crossing from 06h00 am – 18h00 pm.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/MalgasFerry/onFerry.jpg" alt="Second Description" class="image-below-text">


    </main>
  
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
            color: #316080;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

