@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">MALGAS</h1>
        <img src="~/Assets/Destination/Subpages/Lines/blueLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                Malgas (or Malagas) is a settlement on the right (southwest) bank of the Breede River in the Overberg region of the Western Cape. 
                <br>
                It is situated 25 kilometres north-west of the Breede River mouth at Witsand, and 30 kilometres south-east of Swellendam. Malagas is named after one of the last Khoekhoe ‘kapteine’ who was based near the (Breede) river. 
                <br><br>
                On 26 January 1791 the farm ‘genaamt Malegaas Craal geleegen aan de Breede Rivier aan den landouwer ene Adriaan Odendal toegeken is’. He remained until 1837.
                <br><br>
                Malgas offers a diverse range of activities and attractions for visitors to enjoy! From stunning scenery and hiking trails to whale watching during the season, there's something for everyone. 
                <br><br>
                The abundance of fish in the Breede River makes it an excellent destination for fishing enthusiasts, while bird watchers can enjoy spotting fish eagles and kingfishers.
                <br>
                With trails, historical monuments, pubs, restaurants, and wineries, visitors have plenty of options to explore and experience the unique charm of Malgas.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/Malgas/malgasRiver.jpg" alt="Second Description" class="image-below-text">


    </main>
  </body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
            color: #316080;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

