@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  
    <main class="content-wrapper">
        <h1 class="centered-heading">SIJNN WINE ESTATE</h1>
        <img src="~/Assets/Destination/Subpages/Lines/greenLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                A beautiful pioneering wine estate in the middle of nowhere at the end of a long, dusty, bumpy road at the Southern tip of Africa. 
                <br><br>
                When David and Rita Trafford visited the Malgas region for the first time in 2000, they were blown away with the incredible soils specifically in the Lemoentuin area and immediately set about finding a suitable property to purchase.
                <br><br>
                Today, <a href="https://www.sijnn.co.za/" class="custom-link">Sijnn Wines</a> are grown in Malgas along the Breede River - the only first growth appellation in the region. Sijnn is a true unicorn within the Cape Winelands.
                <br>
                Located in Malgas, it was the first growth appellation in the entire region. 15km from the sea, the maritime climate is warm, but not too hot, moderated by southerly winds off the ocean late morning just about every day, especially in summer. 
                <br>
                Due to the low vigour and low yields from the poor soils and dry climate, all the vines are grown as bush vines, in a natural way adapting to their environment with gentle help from the human hand.
                <br><br>
                At Sijnn their focus has always been on producing wine that is indicative of its distinctive terroir and geographical location. The two main wines produced on their Malgas property are the Sijnn White Blend and Sijnn Red Blend. 
                <br>
                They take great care in producing only the best quality fruit and let the process of becoming wine unfold naturally in the cellar.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/Sijnn/sijnnHarvest.jpg" alt="Second Description" class="image-below-text">


    </main>
   
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
        color: #334A36;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

