@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">THE FIG TREE</h1>
        <img src="~/Assets/Destination/Subpages/Lines/orangeLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                Situated in the main Opstal area, the building that used to be a shed that was used by the farmer and later by the maintenance team of De Hoop Collection, has been renovated to a beautiful space with stunning views of the De Hoop Vlei. 
                <br>
                The silo behind ‘The Shed’ was cleverly transformed into ‘William’s Wine Cellar’, a round shaped space that is home to more than 3000 wines where you are invited to select a cultivar of your choice.
                <br><br>
                <a href="https://www.dehoopcollection.com/restaurant/" class="custom-link">The Fig Tree Wine Restaurant</a> offers a la carte menus for breakfast and lunch and set dinner menus. Delicious picnic baskets can be pre-ordered from reception and enjoyed on the beach, under a fig tree, or next to the reserve’s 19km vlei.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/FigTree/figTreeInterior.jpg" alt="Second Description" class="image-below-text">


    </main>
 
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
        color: #D99D52;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

