@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  
    <main class="content-wrapper">
        <h1 class="centered-heading">THE TRADING POST</h1>
        <img src="~/Assets/Destination/Subpages/Lines/greenLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                The Breede River Trading Post is your “One Stop” provision store in the area, offering everything you need to make your stay in Malgas easy and enjoyable. 
                <br>
                They bake fresh rolls daily, ensuring you have delicious bread for every meal. 
                <br><br>
                The shop is stocked with all the necessities, from groceries and toiletries to local produce and specialty items. 
                <br>
                With friendly service and a commitment to quality, The Breede River Trading Post provides a convenient and welcoming shopping experience, ensuring you have everything you need for a comfortable and memorable stay.
            </p>
        </div>


        <img src="~/Assets/Destination/Subpages/Trading/tradingSide.jpg" alt="Second Description" class="image-below-text">


    </main>
  
</body>
</html>

<script src="~/js/site.js"></script>

<style>
    .custom-link {
        color: #334A36;
        text-decoration: none;
    }

    .custom-link:hover {
        color: lightgrey;
    }

</style>

