@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <main class="content-wrapper">
        <h1 class="centered-heading">BAIT AND TACKLE</h1>
        <img src="~/Assets/Destination/Subpages/Lines/greenLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                Nestled along the serene Breede River, our bait and tackle shop is your destination for an unparalleled fishing experience.
                <br><br>
                We take pride in offering an exquisite range of high-quality fishing equipment and expertly selected bait, all while providing tailored advice to elevate your time on the river.
                <br><br>
                Whether you're an experienced angler or just beginning your journey, our commitment to exceptional service ensures that every visit is both rewarding and memorable.
            </p>
        </div>
        <img src="~/Assets/Boating/Bait/bait.jpg" alt="Second Description" class="image-below-text">
    </main>

    <script src="~/js/site.js"></script>
</body>
</html>