@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">CHARTERS</h1>
        <img src="~/Assets/Boating/Charters/charterLine.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>
                Breede River in the Overberg region of the Western Cape. It is situated 25 kilometres north-west of the Breede River mouth at Witsand. Outfit running  trips with friendly, knowledgeable, English and Afrikaans speaking guide. There is excellent accommodation, to suit any taste or pocket.
                <br><br>
                Max 4 pax.
                <br><br>
                Starts from: R4000.00
            </p>
        </div>
        <img src="~/Assets/Boating/Charters/charterSub.jpg" alt="Second Description" class="image-below-text">
    </main>
   
        <script src="~/js/site.js"></script>
</body>
</html>