@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/boating_sub.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <main class="content-wrapper">
        <h1 class="centered-heading">RENTALS</h1>
        <img src="~/Assets/Boating/Rentals/rentals_line.jpg" alt="Description" class="image-below-heading">
        <div class="text-below-image">
            <p>Enjoy fishing, boating, swimming, floating and skiing. Picnicking on the water’s edge, watching the birds dart through the reeds and the river life gently cruising by with the slow days. Discover the bliss of the Breede River. Indemnity and compliance regulations apply, ensuring your safety and a hassle-free experience on the water. Let us help you make the most of your fishing adventure!</p>
        </div>
        <img src="~/Assets/Boating/Rentals/rentalsImage.jpg" alt="Second Description" class="image-below-text">
        </main>
   
        </body>
        </html>

<script src="~/js/site.js"></script>
