html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
}

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.navbar-header .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 14px 20px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

    .navbar-nav .nav-item {
        padding: 14px 20px;
    }

@font-face {
    font-family: 'NavbarFont';
    src: url('/Assets/Fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nav-link {
    font-family: 'NavbarFont', sans-serif;
    color: white;
    text-decoration: none;
}

    .nav-link:hover {
        color: gray;
    }

.nav-item.active .nav-link {
    color: black;
}

.navbar-header .navbar-brand img {
    width: 150px; /* Adjust this value to your desired width */
    height: auto; /* Maintains the aspect ratio */
}

.section {
    height: 100vh; /* Adjust this to your desired height */
    background-size: cover;
    background-position: center;
}

.section1 {
    background-image: url('/Assets/Landing/Img/DM_Top_Background.png'); /* Replace with your image path */
}

.section2 {
    background-image: url('/Assets/Landing/Img/DM_AboutUs_Bg.png'); /* Replace with your image path */
}

.section3 {
    background-image: url('/Assets/Landing/Img/DM_Visit_Background.png'); /* Replace with your image path */
}
